/* 
    CSS Guide 

    1.  General Grid Styles
        Utility Classes
    2.  Mobile Grid
    3.  Tablet Grid
    4.  Desktop Grid
    5.  XL Grid

 */

/* 1. ---General Grid Styles--- */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* ---Utility Classes--- */

.hidden {
  display: none;
}

.box {
  display: grid;
  place-items: center;
  height: 100px;
  background-color: rgb(45, 54, 55);
  color: snow;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  transition: 0.3s ease-in-out;
}

.box:hover {
  background-color: black;
}

/* 2. ---Mobile Library Grid Styles--- */

.hide {
  display: none;
}

#hero-image {
  height: 200px;
}

#logo,
#nav {
  height: 50px;
}

.grid-con {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column-gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.col-span-full {
  grid-column: 1/-1;
}

.col-start-1 {
  grid-column-start: 1;
}
.col-start-2 {
  grid-column-start: 2;
}
.col-start-3 {
  grid-column-start: 3;
}
.col-start-4 {
  grid-column-start: 4;
}
.col-start-5 {
  grid-column-start: 5;
}
.col-start-6 {
  grid-column-start: 6;
}
.col-start-7 {
  grid-column-start: 7;
}
.col-start-8 {
  grid-column-start: 8;
}
.col-start-9 {
  grid-column-start: 9;
}
.col-start-10 {
  grid-column-start: 10;
}
.col-start-11 {
  grid-column-start: 11;
}
.col-start-12 {
  grid-column-start: 12;
}

.col-end-1 {
  grid-column-end: 1;
}
.col-end-2 {
  grid-column-end: 2;
}
.col-end-3 {
  grid-column-end: 3;
}
.col-end-4 {
  grid-column-end: 4;
}
.col-end-5 {
  grid-column-end: 5;
}
.col-end-6 {
  grid-column-end: 6;
}
.col-end-7 {
  grid-column-end: 7;
}
.col-end-8 {
  grid-column-end: 8;
}
.col-end-9 {
  grid-column-end: 9;
}
.col-end-10 {
  grid-column-end: 10;
}
.col-end-11 {
  grid-column-end: 11;
}
.col-end-12 {
  grid-column-end: 12;
}

/* 3. ---Tablet Library Grid Styles--- */

@media screen and (min-width: 768px) {
  .box {
    height: 150px;
  }
  .grid-con {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  #logo,
  #nav {
    height: 75px;
  }

  #hero-image {
    height: 250px;
  }

  .hide {
    display: none;
  }

  .m-col-start-1 {
    grid-column-start: 1;
  }
  .m-col-start-2 {
    grid-column-start: 2;
  }
  .m-col-start-3 {
    grid-column-start: 3;
  }
  .m-col-start-4 {
    grid-column-start: 4;
  }
  .m-col-start-5 {
    grid-column-start: 5;
  }
  .m-col-start-6 {
    grid-column-start: 6;
  }
  .m-col-start-7 {
    grid-column-start: 7;
  }
  .m-col-start-8 {
    grid-column-start: 8;
  }
  .m-col-start-9 {
    grid-column-start: 9;
  }
  .m-col-start-10 {
    grid-column-start: 10;
  }
  .m-col-start-11 {
    grid-column-start: 11;
  }
  .m-col-start-12 {
    grid-column-start: 12;
  }

  .m-col-end-1 {
    grid-column-end: 1;
  }
  .m-col-end-2 {
    grid-column-end: 2;
  }
  .m-col-end-3 {
    grid-column-end: 3;
  }
  .m-col-end-4 {
    grid-column-end: 4;
  }
  .m-col-end-5 {
    grid-column-end: 5;
  }
  .m-col-end-6 {
    grid-column-end: 6;
  }
  .m-col-end-7 {
    grid-column-end: 7;
  }
  .m-col-end-8 {
    grid-column-end: 8;
  }
  .m-col-end-9 {
    grid-column-end: 9;
  }
  .m-col-end-10 {
    grid-column-end: 10;
  }
  .m-col-end-11 {
    grid-column-end: 11;
  }
  .m-col-end-12 {
    grid-column-end: 12;
  }
  .m-col-end-13 {
    grid-column-end: 13;
  }
}

/* 4. ---Desktop Library Grid Styles--- */

@media screen and (min-width: 1200px) {
  .hide {
    display: block;
  }

  #image {
    display: grid;
    place-items: center;
  }

  .l-col-start-1 {
    grid-column-start: 1;
  }
  .l-col-start-2 {
    grid-column-start: 2;
  }
  .l-col-start-3 {
    grid-column-start: 3;
  }
  .l-col-start-4 {
    grid-column-start: 4;
  }
  .l-col-start-5 {
    grid-column-start: 5;
  }
  .l-col-start-6 {
    grid-column-start: 6;
  }
  .l-col-start-7 {
    grid-column-start: 7;
  }
  .l-col-start-8 {
    grid-column-start: 8;
  }
  .l-col-start-9 {
    grid-column-start: 9;
  }
  .l-col-start-10 {
    grid-column-start: 10;
  }
  .l-col-start-11 {
    grid-column-start: 11;
  }
  .l-col-start-12 {
    grid-column-start: 12;
  }

  .l-col-end-1 {
    grid-column-end: 1;
  }
  .l-col-end-2 {
    grid-column-end: 2;
  }
  .l-col-end-3 {
    grid-column-end: 3;
  }
  .l-col-end-4 {
    grid-column-end: 4;
  }
  .l-col-end-5 {
    grid-column-end: 5;
  }
  .l-col-end-6 {
    grid-column-end: 6;
  }
  .l-col-end-7 {
    grid-column-end: 7;
  }
  .l-col-end-8 {
    grid-column-end: 8;
  }
  .l-col-end-9 {
    grid-column-end: 9;
  }
  .l-col-end-10 {
    grid-column-end: 10;
  }
  .l-col-end-11 {
    grid-column-end: 11;
  }
  .l-col-end-12 {
    grid-column-end: 12;
  }
  .l-col-end-13 {
    grid-column-end: 13;
  }
}

/* 5. ---X-Large Desktop Library Grid Styles--- */

@media screen and (min-width: 1920px) {
}
